
<div class="form-inner-cont">
    <form method="post" class="signin-form">
        <div class="form-input">
            <label for="w3lName">Ad Soyad</label>
            <input type="text" name="Name" placeholder="" />
        </div>
        <div class="form-input">
            <label for="w3lSender">Email</label>
            <input type="email" name="Email" placeholder="" required="" />
        </div>
        <div class="form-input">
            <label for="w3lMessage">Konu</label>
            <input type="text" name="Subject" placeholder="" required="" />
        </div>
        <div class="form-input">
            <label for="w3lMessage">Mesaj</label>
            <textarea placeholder="" name="Message" required=""></textarea>
        </div>


        <button type="submit" class="btn btn-style btn-primary">Gönder</button>

    </form>
</div>