
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2>Email Onay Sayfası</h2>
<form method="post">
    <label>Şifre</label>
    <input type="text" class="form-control"/>
    <br />
    <button class="btn btn-primary">Onayla</button>
</form>
